.homepage {
  padding: 20px;
  border: 0.5px gray solid;
  width: 380px;
  height: 400px;

  &__recipe-title {
    text-align: center;

    :first-child {
      padding-top: 20px;
      font-size: 35px;
      margin: 0;
      font-weight: bold;
      color: green;
    }

    :last-child {
      font-family: 'arial';
      margin: 0px;
      padding-top: 5px;
      padding-bottom: 20px;
    }
  }
}
